body {
  background-color: black;
  font-family: Cormorant;
  color: white;
}

header h1 {
  color: purple;
  text-align: center;
  border-bottom: 1px solid;
  padding-top: 25px;
}
.icones a {
  text-decoration: none;
  color: purple;
}

.icones {
  padding: 50px;
  text-align: center;
}
h2:hover {
  color: white;
}
